.globalPane{
    -fx-background-image: url("png.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover, auto;
 }

.topPane{

}

.topInsideFrame{
-fx-border-style: solid;
-fx-border-width: 4px;
-fx-border-color: WHITE;
}

.choiceTariff{
-fx-border-style: solid;
-fx-border-width: 2px;
-fx-border-color: WHITE;
-fx-background-color: rgba(255, 255, 255, 0.4)
}

.textMin{
-fx-border-style: solid;
-fx-border-width: 2px;
-fx-border-color: WHITE;
-fx-background-color: rgba(255, 255, 255, 0.4)
}

.textMax{
-fx-border-style: solid;
-fx-border-width: 2px;
-fx-border-color: WHITE;
-fx-background-color: rgba(255, 255, 255, 0.4)
}

.centerPane{

}

.centerInsideFrameOne{
-fx-border-style: solid;
-fx-border-width: 4px;
-fx-border-color: WHITE;
}

.centerInsideFrameTwo{
-fx-border-style: solid;
-fx-border-width: 4px;
-fx-border-color: WHITE;
}

.slider{
-fx-background-color: rgba(255, 255, 255, 0.0)
}

.discountedAmount{
-fx-border-style: solid;
-fx-border-width: 2px;
-fx-border-color: WHITE;
-fx-background-color: rgba(255, 255, 255, 0.4)
}

.discountOne{
-fx-border-style: solid;
-fx-border-width: 2px;
-fx-border-color: WHITE;
-fx-background-color: rgba(255, 255, 255, 0.4)
}

.discountTwo{
-fx-border-style: solid;
-fx-border-width: 2px;
-fx-border-color: WHITE;
-fx-background-color: rgba(255, 255, 255, 0.4)
}

.discountThree{
-fx-border-style: solid;
-fx-border-width: 2px;
-fx-border-color: WHITE;
-fx-background-color: rgba(255, 255, 255, 0.4)
}

.discountFour{
-fx-border-style: solid;
-fx-border-width: 2px;
-fx-border-color: WHITE;
-fx-background-color: rgba(255, 255, 255, 0.4)
}

.bottomPane{

}

.bottomInsideFrame{
-fx-border-style: solid;
-fx-border-width: 4px;
-fx-border-color: WHITE;
}

